/ArhEVM.Lab1_2/nbproject/private/
/ArhEVM.Lab1_2/build/
/ArhEVM.Lab2_2/nbproject/private/
/ArhEVM.Lab2_2/build/
/ArhEVM.Lab2_1/build/
/VichMat.Lab1_1/nbproject/private/
/VichMat.Lab1_1/build/
/VichMat.Lab1_2/nbproject/private/
/VichMat.Lab1_2/build/
/VichMat.Lab2/nbproject/private/
/VichMat.Lab2/build/
/VichMat.Lab3/nbproject/private/
/VichMat.Lab3/build/
/ArhEVM.Lab3/nbproject/private/
/ArhEVM.Lab3/build/
/SAPR-PS_Lab/nbproject/private/
/SAPR-PS_Lab/build/
/TestDebugPO_Lab/nbproject/private/
/TestDebugPO_Lab/build/